* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  line-height: 1.4;
}

.challenge-items {
  display: flex;
  align-items: flex-start;
  gap: 1rem;
  list-style-type: none;
}

img {
  height: 100px;
}
